.header {
    min-width: 100%;
    display: flex;
    background-color: rgb(204, 204, 204);
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

#image {
    max-width: 100%;
    width: fit-content;
    height: auto;
}

.timeline-items {
    display: flex;
    
}

.timeline {

    max-width: 600px;


}
